# Node
node_modules/

# Build outputs
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*

# Babel - enforce only .cjs
.babelrc.js

# Editor
.vscode/
.idea/
.DS_Store
