{
  "reporter": ["text", "lcov", "json-summary"],
  "all": true,
  "extension": [".ts", ".tsx", ".js", ".jsx"],
  "include": ["src/**/*.ts", "src/**/*.tsx"],
  "exclude": ["**/*.d.ts", "tests/**", "**/node_modules/**"],
  "check-coverage": true,
  "statements": 70,
  "branches": 70,
  "functions": 70,
  "lines": 70
}